/*Imports*/
@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*All*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Imports*/
header {
    padding: 0px 100px 20px 100px;
}

/*Imports*/
.mask {
    background: linear-gradient(109deg, rgba(0, 170, 255, 0.399) 15%, rgba(70, 70, 70, 0.415) 50%, rgba(255, 0, 93, 0.399) 85%);
}

/*Font*/
.font-lobster{
    font-family: "Lobster", sans-serif;
}

/*Efeito*/
.glassmorphism:hover {
    transform: scale(1.07);
    transition: 1s;
    background-color: rgba(37, 35, 27, 0.484);
}