@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.mask {
    
    background: linear-gradient(109deg, rgba(136, 221, 255, 0.89) 15%, rgba(79, 151, 179, 0.573) 50%, rgba(255, 229, 247, 0.841) 85%);
    transition: background 10s ease;
    /* aqui definimos a transição suave */
}

.font-urbanist {
    font-family: "Urbanist", serif;
}

/* fade out e fade in */
@keyframes fadeSwap {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 0;
    }

    /* aqui o JS troca a imagem */
    100% {
        opacity: 1;
    }
}

.troca-efeito {
    animation: fadeSwap 1s forwards;
}